<h3>Using it inside model-driven forms</h3>
    
    <form [formGroup]="modelForm"  (ngSubmit)="onSubmit()">
      <div formArrayName="attachments">
         <div *ngFor="let attachment of attachments.controls; let i=index" [formGroupName]="i" >
           <h4>Attachment #{{i + 1}}</h4>
            <md-input-container>
              <input mdInput placeholder="{{labels.attachments.type}}" formControlName="type">
              <thorall-md-error errmsg="{{formErrors.attachments[i].type}}"></thorall-md-error>
            </md-input-container>    
            <md-input-container>
              <input mdInput placeholder="{{labels.attachments.description}}" formControlName="description">
              <thorall-md-error errmsg="{{formErrors.attachments[i].description}}"></thorall-md-error>
            </md-input-container>                    
            <button (click)="deleteAttachment(i)" type="button">Delete Attachment {{ i }}</button> 
        </div> 
          <button (click)="addAttachment()" type="button">Add a Attachment</button>
      </div>
      
        <div>
            <md-input-container>
              <input mdInput placeholder="{{labels.name}}" formControlName="name">
              <md-hint>{{ hints.name }}</md-hint>
              <thorall-md-error errmsg="{{formErrors.name}}"></thorall-md-error>
               <!-- <p class="help-block" *ngIf="modelForm.get('name').hasError('required') && modelForm.get('name').touched">{{labels.name}} required.</p>  -->
            </md-input-container>          
        <!-- </div>
        <div> -->
            <md-input-container>
              <input mdInput placeholder="{{labels.address}}" formControlName="address">
              <md-hint>{{ hints.address }}</md-hint>
              <thorall-md-error errmsg="{{formErrors.address}}"></thorall-md-error>
            </md-input-container>          
        <!-- </div>       
        <div> -->
            <md-input-container>
              <input mdInput placeholder="{{labels.city}}" formControlName="city">
              <md-hint>{{ hints.city }}</md-hint>
              <thorall-md-error errmsg="{{formErrors.city}}"></thorall-md-error>
            </md-input-container>          
        </div>              
        <div formGroupName="mobile">
            <md-input-container>
              <input mdInput placeholder="{{labels.mobile.phone}}" formControlName="phone">
              <md-hint>{{ hints.mobile.phone }}</md-hint>
              <thorall-md-error errmsg="{{formErrors.mobile.phone}}"></thorall-md-error>
             <!-- <p class="help-block"  *ngIf="modelForm.get('mobile').get('phone').hasError('required') && modelForm.get('mobile').get('phone').touched">{{labels.mobile.phone}} required.</p>  -->
            </md-input-container> 
                     
            <md-input-container>
              <input mdInput placeholder="{{labels.mobile.ext}}" formControlName="ext">
              <md-hint>{{ hints.mobile.ext }}</md-hint>
              <thorall-md-error errmsg="{{formErrors.mobile.ext}}"></thorall-md-error>
            </md-input-container>     
            
            <div formGroupName="subMobile"> 
              
              <md-input-container>
                <input mdInput placeholder="{{labels.mobile.subMobile.subA}}" formControlName="subA">
                 <md-hint>{{ hints.mobile.subMobile.subA }}</md-hint> 
                 <thorall-md-error errmsg="{{formErrors.mobile.subMobile.subA}}"></thorall-md-error> 
              </md-input-container>                
            </div>                 
        </div>           

      <div class="form-row">
        <button type="submit" [disabled]="!modelForm.valid">Save</button>
      </div>
    </form>
    
<pre>form data: {{ modelForm.value | json }} </pre>
<pre>form Errors: {{ modelForm.errors }} </pre>




              
         <!-- <material-template [form]="modelForm" groupName="mobile" key="phone" label="{{labels.mobile.phone}}" 
         errmsg="{{formErrors.mobile.phone}}" hint="{{hints.mobile.phone}}" 
         ></material-template>

         <material-template [form]="modelForm" key="template" label="{{labels.template}}" errmsg="{{ formErrors.template }}" hint="{{ hints.name }}" ></material-template>

       
          <material-template [form]="modelForm" key="template" label="{{labels.name}}" errmsg="{{ formErrors.name }}" hint="{{ hints.name }}"></material-template> 
          -->
        <!-- <br>
        <md-input-container [formGroup]="modelForm">
          <input mdInput placeholder="{{labels.name}}" formControlName="name" (blur)="testTrim('name', modelForm)" >
          <md-hint>{{ hints.name }}</md-hint>
          <md-error *ngIf="formErrors.name">{{ formErrors.name }}</md-error> 
        </md-input-container> -->
       
          
       <!-- Len:  {{ modelForm.value.name.length}} -->
        <!-- <br/>
        
        <md-input-container>
          <input mdInput placeholder="{{labels.address}}" [(formControl)]="modelForm.controls.address" (blur)="testTrim('address', modelForm)">
          <md-hint>{{ hints.address }}</md-hint>
          <md-error *ngIf="formErrors.address">{{ formErrors.address }}</md-error>
        </md-input-container> 
        <br> -->
  
    
